.root {
  height: 100vh;
  margin: 25px auto;
  text-align: center;
  max-width: 1440px;
}

@media (min-width: 500px) {
  .root {
    max-width: 450px;
  }
}

@media (min-width: 699px) {
  .root {
    max-width: 650px;
  }
}

@media (min-width: 1000px) {
  .root  {
    max-width: 900px;
  }
}