.fixed {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; 
  /* background: #f8f8f8; */
}

@media (min-width: 500px) {
  .fixed {
    max-width: 450px;
  }
}

@media (min-width: 699px) {
  .fixed {
    max-width: 650px;
  }
}

@media (min-width: 1000px) {
  .fixed {
    max-width: 900px;
  }
}